
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/open-sans/OpenSans-Bold.ttf') format('truetype');;
}

@font-face {
  font-family: 'iconitos';
  src:  url('../fonts/iconos/icomoon.eot?lmozq2');
  src:  url('../fonts/iconos/icomoon.eot?lmozq2#iefix') format('embedded-opentype'),
    url('../fonts/iconos/icomoon.ttf?lmozq2') format('truetype'),
    url('../fonts/iconos/icomoon.woff?lmozq2') format('woff'),
    url('../fonts/iconos/icomoon.svg?lmozq2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

*
    font-family: 'Open Sans'


.precios
    margin-bottom: 70px
    .titulos
        text-align: center
        margin-bottom: 35px
        h4
            color: #4153f1
            text-transform: uppercase
            margin: 0px
        p
            color: #012970
            font-size: 40px
            font-weight: bold
            margin: 0px
    .tarjetas
        text-align: center
        div
            width: 300px
            display: inline-block
            text-align: center
            margin-left: 15px
            margin-right: 15px
            -webkit-box-shadow: 0px 0px 67px 23px rgba(246,247,249,1);
            -moz-box-shadow: 0px 0px 67px 23px rgba(246,247,249,1);
            box-shadow: 0px 0px 67px 23px rgba(246,247,249,1);
            h5
                font-size: 18px
            .free
                color: #03d5c0
            .valor
                font-family: 'Open Sans Bold'
                font-size: 30px
                .signo
                    font-size: 20px
                    position: relative
                    font-weight: bold
                    bottom: 15px
                .moneda
                    font-size: 16px
                    font-weight: normal
                    color: #bbbbbb

            img
                width: 200px
            ul
                margin-top: 25px
                padding-left: 0px
                li
                    margin-bottom: 15px
                    list-style: none
                .tachado
                    text-decoration-line: line-through
                    color: #bbbbbb
            button
                margin: 25px 0px 50px 0px
                padding: 10px 40px
                border-radius: 20px
                background-color: white
                font-weight: bold
                color: #4153f1
                border: 1px solid #a7aff8

.equipo
    margin-bottom: 45px
    .titulos
        text-align: center
        h4
            color: #4153f1
            text-transform: uppercase
            margin: 0px
        p
            color: #012970
            font-size: 40px
            font-weight: bold
            margin: 0px
    .tarjetas
        text-align: center
        div
            text-align: center
            width: 300px
            display: inline-block
            margin: 30px 15px 0px 15px
            -webkit-box-shadow: 0px 0px 22px -8px rgba(0,0,0,0.75)
            -moz-box-shadow: 0px 0px 22px -8px rgba(0,0,0,0.75)
            box-shadow: 0px 0px 22px -8px rgba(0,0,0,0.75)
            border-radius: 10px
            overflow: hidden
            img
                width: 300px
            h5
                font-size: 20px
                color: #15397b
                margin: 20px 0px 10px 0px
            h6
                margin: 0px
                font-size: 14px
                color: #ababab
            p
                font-size: 13px
                width: 90%
                margin: 15px auto 35px auto
                font-style: italic
                color: #5e5e5e

footer
    background: url('../imgs/footer-bg.png') no-repeat right 
    background-size: auto 100% !important
    .info-pie
        border-top: 1px solid #e1ecff
        border-bottom: 1px solid #e1ecff
        padding: 60px 0px
        .descripcion
            display: inline-block
            width: 40%
            margin-left: 40px
            .logo
                img
                    display: inline-block
                h3
                    display: inline-block
                    font-size: 30px
                    color: #012970
                    margin: 0px
            .texto 
                margin: 15px 0px 0px 0px
            .redes
                a
                    text-decoration: none
                    color: #8393b8
                    margin-right: 20px
                    font-size: 30px
                    .twtt:before
                        font-family: 'iconitos'
                        content: "\ea96"
                    .fb:before
                        font-family: 'iconitos'
                        content: "\ea90"
                    .instam:before
                        font-family: 'iconitos'
                        content: "\ea92"
                    .linked:before
                        font-family: 'iconitos'
                        content: "\eac9"
        .miscelanea
            margin-left: 40px
            display: inline-block
            .useful
                display: inline-block
                margin-right: 60px
                h4
                    color: #1b3e7e
                    text-transform: uppercase
                ul
                    padding-left: 0px
                    li
                        list-style: none
                        margin-bottom: 10px
                        a
                            color: #05348a
                            text-decoration: none
                        a:before
                            color: #d4d8fd
                            content: "> "
            .services
                display: inline-block
                margin-right: 60px
                h4
                    color: #1b3e7e
                    text-transform: uppercase
                ul
                    padding-left: 0px
                    li
                        list-style: none
                        margin-bottom: 10px
                        a
                            color: #05348a
                            text-decoration: none
                        a:before
                            color: #d4d8fd
                            content: "> "
            .contact
                vertical-align: top 
                width: 185px
                display: inline-block
                h4
                    color: #1b3e7e
                    text-transform: uppercase
                address
                    font-size: 16px
                    margin-bottom: 20px
                    font-style: normal
                p
                    font-size: 14px
                    margin: 0px 0px 5px 0px
                    span
                        font-weight: bold
    .copy-right
        background: #f6f9fe
        padding: 40px 0px
        p
            color: #1b3e7e
            text-align: center
            width: 300px
            margin: 0px auto
            .copy:before
                font-family: 'iconitos'
                content: "\e900"
            .negrilla
                font-weight: bold
            .salto
                display block
                margin-top: 15px
            .color-esp 
                color: #5666f3




