@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/OpenSans-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/open-sans/OpenSans-Bold.ttf") format('truetype');
}
@font-face {
  font-family: 'iconitos';
  src: url("../fonts/iconos/icomoon.eot?lmozq2");
  src: url("../fonts/iconos/icomoon.eot?lmozq2#iefix") format('embedded-opentype'), url("../fonts/iconos/icomoon.ttf?lmozq2") format('truetype'), url("../fonts/iconos/icomoon.woff?lmozq2") format('woff'), url("../fonts/iconos/icomoon.svg?lmozq2#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
* {
  font-family: 'Open Sans';
}
.valores {
  margin-bottom: 80px;
}
.valores .titulos {
  text-align: center;
  margin-bottom: 35px;
}
.valores .titulos h4 {
  color: #4153f1;
  text-transform: uppercase;
  margin: 0px;
}
.valores .titulos p {
  color: #012970;
  font-size: 40px;
  font-weight: bold;
  margin: 0px;
}
.valores .tarjetas {
  text-align: center;
}
.valores .tarjetas div {
  border: 3px solid #f4f5f6;
  width: 400px;
  display: inline-block;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}
.valores .tarjetas img {
  width: 300px;
  margin-top: 40px;
}
.valores .tarjetas h5 {
  font-family: 'Open Sans Bold';
  font-size: 20px;
  color: #072e73;
}
.valores .tarjetas p {
  width: 300px;
  margin: 0 auto 30px auto;
  font-size: 14px;
}
.precios {
  margin-bottom: 70px;
}
.precios .titulos {
  text-align: center;
  margin-bottom: 35px;
}
.precios .titulos h4 {
  color: #4153f1;
  text-transform: uppercase;
  margin: 0px;
}
.precios .titulos p {
  color: #012970;
  font-size: 40px;
  font-weight: bold;
  margin: 0px;
}
.precios .tarjetas {
  text-align: center;
}
.precios .tarjetas div {
  width: 300px;
  display: inline-block;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  -webkit-box-shadow: 0px 0px 67px 23px #f6f7f9;
  -moz-box-shadow: 0px 0px 67px 23px #f6f7f9;
  box-shadow: 0px 0px 67px 23px #f6f7f9;
}
.precios .tarjetas div h5 {
  font-size: 18px;
}
.precios .tarjetas div .free {
  color: #03d5c0;
}
.precios .tarjetas div .starter {
  color: #65c602;
}
.precios .tarjetas div .business {
  color: #ff9221;
}
.precios .tarjetas div .ultimate {
  color: #ff0071;
}
.precios .tarjetas div .valor {
  font-family: 'Open Sans Bold';
  font-size: 30px;
}
.precios .tarjetas div .valor .signo {
  font-size: 20px;
  position: relative;
  font-weight: bold;
  bottom: 15px;
}
.precios .tarjetas div .valor .moneda {
  font-size: 16px;
  font-weight: normal;
  color: #bbb;
}
.precios .tarjetas div img {
  width: 200px;
}
.precios .tarjetas div ul {
  margin-top: 25px;
  padding-left: 0px;
}
.precios .tarjetas div ul li {
  margin-bottom: 15px;
  list-style: none;
}
.precios .tarjetas div ul .tachado {
  text-decoration-line: line-through;
  color: #bbb;
}
.precios .tarjetas div button {
  margin: 25px 0px 50px 0px;
  padding: 10px 40px;
  border-radius: 20px;
  background-color: #fff;
  font-weight: bold;
  color: #4153f1;
  border: 1px solid #a7aff8;
}
.equipo {
  margin-bottom: 45px;
}
.equipo .titulos {
  text-align: center;
}
.equipo .titulos h4 {
  color: #4153f1;
  text-transform: uppercase;
  margin: 0px;
}
.equipo .titulos p {
  color: #012970;
  font-size: 40px;
  font-weight: bold;
  margin: 0px;
}
.equipo .tarjetas {
  text-align: center;
}
.equipo .tarjetas div {
  text-align: center;
  width: 300px;
  display: inline-block;
  margin: 30px 15px 0px 15px;
  -webkit-box-shadow: 0px 0px 22px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 22px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 22px -8px rgba(0,0,0,0.75);
  border-radius: 10px;
  overflow: hidden;
}
.equipo .tarjetas div img {
  width: 300px;
}
.equipo .tarjetas div h5 {
  font-size: 20px;
  color: #15397b;
  margin: 20px 0px 10px 0px;
}
.equipo .tarjetas div h6 {
  margin: 0px;
  font-size: 14px;
  color: #ababab;
}
.equipo .tarjetas div p {
  font-size: 13px;
  width: 90%;
  margin: 15px auto 35px auto;
  font-style: italic;
  color: #5e5e5e;
}
footer .info-pie {
  background: url("../imgs/footer-bg.png") no-repeat top right;
  background-size: contain;
  border-top: 1px solid #e1ecff;
  border-bottom: 1px solid #e1ecff;
  padding: 60px 0px;
}
footer .info-pie .descripcion {
  display: inline-block;
  width: 40%;
  margin-left: 40px;
}
footer .info-pie .descripcion .logo img {
  display: inline-block;
}
footer .info-pie .descripcion .logo h3 {
  display: inline-block;
  font-size: 30px;
  color: #012970;
  margin: 0px;
}
footer .info-pie .descripcion .texto {
  margin: 15px 0px 0px 0px;
}
footer .info-pie .descripcion .redes a {
  text-decoration: none;
  color: #8393b8;
  margin-right: 20px;
  font-size: 30px;
}
footer .info-pie .descripcion .redes a .twtt:before {
  font-family: 'iconitos';
  content: "\ea96";
}
footer .info-pie .descripcion .redes a .fb:before {
  font-family: 'iconitos';
  content: "\ea90";
}
footer .info-pie .descripcion .redes a .instam:before {
  font-family: 'iconitos';
  content: "\ea92";
}
footer .info-pie .descripcion .redes a .linked:before {
  font-family: 'iconitos';
  content: "\eac9";
}
footer .info-pie .miscelanea {
  margin-left: 40px;
  display: inline-block;
}
footer .info-pie .miscelanea .useful {
  display: inline-block;
  margin-right: 60px;
}
footer .info-pie .miscelanea .useful h4 {
  color: #1b3e7e;
  text-transform: uppercase;
}
footer .info-pie .miscelanea .useful ul {
  padding-left: 0px;
}
footer .info-pie .miscelanea .useful ul li {
  list-style: none;
  margin-bottom: 10px;
}
footer .info-pie .miscelanea .useful ul li a {
  color: #05348a;
  text-decoration: none;
}
footer .info-pie .miscelanea .useful ul li a:before {
  color: #d4d8fd;
  content: "> ";
}
footer .info-pie .miscelanea .services {
  display: inline-block;
  margin-right: 60px;
}
footer .info-pie .miscelanea .services h4 {
  color: #1b3e7e;
  text-transform: uppercase;
}
footer .info-pie .miscelanea .services ul {
  padding-left: 0px;
}
footer .info-pie .miscelanea .services ul li {
  list-style: none;
  margin-bottom: 10px;
}
footer .info-pie .miscelanea .services ul li a {
  color: #05348a;
  text-decoration: none;
}
footer .info-pie .miscelanea .services ul li a:before {
  color: #d4d8fd;
  content: "> ";
}
footer .info-pie .miscelanea .contact {
  vertical-align: top;
  width: 185px;
  display: inline-block;
}
footer .info-pie .miscelanea .contact h4 {
  color: #1b3e7e;
  text-transform: uppercase;
}
footer .info-pie .miscelanea .contact address {
  font-size: 16px;
  margin-bottom: 20px;
  font-style: normal;
}
footer .info-pie .miscelanea .contact p {
  font-size: 14px;
  margin: 0px 0px 5px 0px;
}
footer .info-pie .miscelanea .contact p span {
  font-weight: bold;
}
footer .copy-right {
  background: #f6f9fe;
  padding: 40px 0px;
}
footer .copy-right p {
  color: #1b3e7e;
  text-align: center;
  width: 300px;
  margin: 0px auto;
}
footer .copy-right p .copy:before {
  font-family: 'iconitos';
  content: "\e900";
}
footer .copy-right p .negrilla {
  font-weight: bold;
}
footer .copy-right p .salto {
  display: block;
  margin-top: 15px;
}
footer .copy-right p .color-esp {
  color: #5666f3;
}
