
*
    font-family: Arial, Helvetica, sans-serif

footer
    .info-pie
        margin-left: 60px
        margin-right: 40px
        padding: 60px 0px
        .descripcion
            display: inline-block
            width: 40%
            .logo
                img
                    display: inline-block
                h3
                    display: inline-block
                    font-size: 30px
                    color: #012970
                    margin: 0px
            .texto 
                margin: 15px 0px 0px 0px
        .miscelanea
            margin-left: 40px
            display: inline-block
            .useful
                display: inline-block
                margin-right: 60px
                h4
                    color: #1b3e7e
                    text-transform: uppercase
                ul
                    padding-left: 0px
                    li
                        list-style: none
                        margin-bottom: 10px
                        a
                            color: #05348a
                            text-decoration: none
                        a:before
                            color: #d4d8fd
                            content: "> "
            .services
                display: inline-block
                margin-right: 60px
                h4
                    color: #1b3e7e
                    text-transform: uppercase
                ul
                    padding-left: 0px
                    li
                        list-style: none
                        margin-bottom: 10px
                        a
                            color: #05348a
                            text-decoration: none
                        a:before
                            color: #d4d8fd
                            content: "> "
            .contact
                vertical-align: top 
                width: 185px
                display: inline-block
                h4
                    color: #1b3e7e
                    text-transform: uppercase
                address
                    font-size: 16px
                    margin-bottom: 20px
                    font-style: normal
                p
                    font-size: 14px
                    margin: 0px 0px 5px 0px
                    span
                        font-weight: bold
    .copy-right
        background: #f6f9fe
        padding: 40px 0px
        p
            color: #1b3e7e
            text-align: center
            width: 300px
            margin: 0px auto
            .negrilla
                font-weight: bold
            .salto
                display block
                margin-top: 15px
            .color-esp 
                color: #5666f3




